@import 'bootstrap/dist/css/bootstrap.css';
div.container{
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
}
div.my-card{
    border: 2px solid black;
    list-style-type: none;
    width: 15rem;
    height: 23rem;

    img.my-poster{
        position: absolute;
        object-fit: cover;
        height: 100%;
        z-index: 1;
    }
    img.my-poster:hover{
        z-index: 0;
    }
    div.my-description:hover{
        z-index: 1;
    }


    div.my-description{
        
        div.mt-1{
            scrollbar-width: none;
            overflow-y: auto;
            height: 10rem;
        }
    }

    
    
    
    img.my-flag{
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}
    .active{
        color: #ffbd00;
    }
